/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter';
}

.container {
  max-width: 1250px;
}

hero {
  background: linear-gradient(#0101A9, #93F3FF);
}